@model Shop
<style>
    #output {
        height: 40vw;
        width: 40vw;
        border-radius: 50%;
        border: 6px solid #757575;
    }

    .uploadContainer {
        position: relative;
        height: 40vw;
        width: 40vw;
    }

    .editContainer {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: white;
        border-radius: 50%;
        height: 10vw;
        width: 10vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 9px;
        z-index: 100;
    }
</style>
<form class="w-100 mx-auto" method="post" enctype="multipart/form-data">
    <input asp-for="Latitude" hidden id="latitude" />
    <input asp-for="Longitude" hidden id="longitude" />
    <input asp-for="ImageURL" hidden />
    <div class="h1">
        Basic Information
    </div>
    <input id="imageInput" type="file" name="file" class="form-control" onchange="loadFile(event)" hidden>
    <div class="d-flex justify-content-center justify-content-center">
        <div class="uploadContainer">
            <div class="editContainer d-flex justify-content-center align-items-center" onclick="upload()">
                <div id="editIcon">
                    <i class="bi bi-pencil-square fs-1"></i>
                </div>
            </div>
            <div class="previewContainer">
                <img id="output" src="~/images/shop/default_shop.png" class="" alt="...">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="mb-3">
            <label asp-for="ShopName" class="form-label"></label>
            <input asp-for="ShopName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OwnerName" class="form-label"></label>
            <input asp-for="OwnerName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="ShopPhoneNo" class="form-label"></label>
            <input asp-for="ShopPhoneNo" class="form-control" />
        </div>
    </div>

    <hr />
    <div class="h1">Shop Address</div>
    <div id="map" style="height: 200px;"></div>
    <div class="row mt-3">
        <div class="mb-2 col-4">
            <label asp-for="Division" class="form-label"></label>
            <input asp-for="Division" class="form-control" />
        </div>
        <div class="mb-2 col-4">
            <label asp-for="District" class="form-label"></label>
            <input asp-for="District" class="form-control" />
        </div>
        <div class="mb-2 col-4">
            <label asp-for="Upazila" class="form-label"></label>
            <input asp-for="Upazila" class="form-control" />
        </div>
        <div class="mb-2 col-12">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="h1">Others</div>
    <div class="row">
        <div class="col-8">
            <div class="h5"><u>Openning Time</u></div>
            <select asp-for="OpeningTime" class="form-select mb-3" aria-label="Default select example">
                <option selected disabled>Select openning Time</option>
                @{
                    for (int i = 1; i <= 12; ++i)
                    {
                        string time = i + ":00 AM";
                        if (i < 10) time = "0" + time;
                        <option value="@i">@time</option>
                    }
                    for (int i = 1; i <= 12; ++i)
                    {
                        string time = i + ":00 PM";
                        if (i < 10) time = "0" + time;
                        <option value="@(i+12)">@time</option>
                    }
                }
            </select>
            <div class="h5"><u>Closing Time</u></div>
            <select asp-for="ClosingTime" class="form-select mb-3" aria-label="Default select example">
                <option selected disabled>Select closing Time</option>
                @{
                    for (int i = 1; i <= 12; ++i)
                    {
                        string time = i + ":00 AM";
                        if (i < 10) time = "0" + time;
                        <option value="@i">@time</option>
                    }
                    for (int i = 1; i <= 12; ++i)
                    {
                        string time = i + ":00 PM";
                        if (i < 10) time = "0" + time;
                        <option value="@(i+12)">@time</option>
                    }
                }
            </select>
            <div class="form-check form-switch mb-3">
                <input asp-for="AcceptOnlineOrders" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label asp-for="AcceptOnlineOrders" class="form-check-label" for="flexSwitchCheckDefault"></label>
            </div>
        </div>
        <div class="col-4">
            <div class="container border-start">
                <div class="h4"><u>Open Days</u></div>
                <div class="form-check">
                    <input asp-for="Saturday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Saturday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Sunday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Sunday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Monday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Monday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Tuesday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Tuesday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Wednesday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Wednesday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Thursday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Thursday" class="form-check-label"></label>
                </div>
                <div class="form-check">
                    <input asp-for="Friday" class="form-check-input" type="checkbox" checked>
                    <label asp-for="Friday" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button id="submit" type="submit" class="btn btn-primary me-2">Save Changes</button>
        <a asp-area="Shopkeeper" asp-controller="Product" asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>

<script>
    var imageUploadButton = document.getElementById("imageInput");
    function upload() {
        imageUploadButton.click();
    }
    var lat, lng;
    var map = L.map('map');
    var marker;
    var latitudeInput = document.getElementById("latitude");
    var longitudeInput = document.getElementById("longitude");

    var latitudeValue, longitudeValue;
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(
            (position) => {
                lat = position.coords.latitude;
                lng = position.coords.longitude;
                console.log(`Latitude: ${lat}, longitude: ${lng}`);

                latitudeValue = lat;
                longitudeValue = lng;
                //console.log(latitudeValue + " " + longitudeValue);
                latitudeInput.setAttribute('value', latitudeValue);
                longitudeInput.setAttribute('value', longitudeValue);

                map.setView([lat, lng], 15);

                marker = L.marker([lat, lng]).addTo(map);
            },
            (error) => {
                //console.error("Error getting user location:", error);
            }
        );
    } else {
        //console.error("Geolocation is not supported by this browser.");
    }
    map.on('click', onMapClick);
    function onMapClick(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);
        latitudeValue = e.latlng.lat;
        longitudeValue = e.latlng.lng;
        //console.log(latitudeValue + " " + longitudeValue);
        latitudeInput.setAttribute('value', latitudeValue);
        longitudeInput.setAttribute('value', longitudeValue);

    }

    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };

</script>

