@using Shopiround.Models.Statistics;
@model ShopkeeperHomeVM
@{
    int i = 0;
    int no_key = 1;
    int no_product = 1;
    List<KeywordsCount> keywords = ViewData["KeywordCount"] as List<KeywordsCount>;
    List<ProductCount> popularProducts = ViewData["ProductCount"] as List<ProductCount>;
}

<div class="row">
    <div class="col-6 col-md-3">
    <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="Create">
        <div>
            <img class="cat" src="~/images/assets/box.png" />
        </div>
        <div>Add Product</div>
    </a>
        <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="ShowAllProducts">
            <div>
                <img class="cat" src="~/images/assets/products.png" />
            </div>
            <div>Show all product</div>
        </a>
    
    </div>

    <div class="col-6 col-md-3">
    
        <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="AddDiscount">
            <div>
                <img class="cat" src="~/images/assets/wishlist.png" />
            </div>
            <div>Add Discount</div>
        </a>
    <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Shop" asp-action="Profile">
        <div>
            <img class="cat" src="~/images/assets/chat.png" />
        </div>
        <div>Message</div>
    </a>
    </div>
</div>

<hr />


<style>
    .productImage {
        height: 50px;
        width: 50px;
    }
    .productName {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
    }
    .productPrice {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
    }
    .shopInfo {
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .cat {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
</style>



    
<div style="display: flex; justify-content: space-between;">
    <div style="font-size: 1.4rem; font-weight: 600;"><img src="~/images/assets/item.png" style="height: 30px; vertical-align: middle;" />Trending Products</div>
    <a style="font-size: 1rem; float: right; font-weight: 600;" href="@Url.Action("ShowAllPopularProduct", "Shop", new { area = "Shopkeeper"})">
        <div>
            <img class="cat" src="~/images/assets/right-arrow.png" />
        </div>
        <div>Message</div>
        </a>
</div>
    <div class="clearfix"></div>
    <div class="row mt-2">
    <table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Search Count</th>
        </tr>
    </thead>
        @foreach (var item in popularProducts)
        {
            
        <tr>
                <td>@no_product )</td>
                <td> <a href="@Url.Action("Show", "Product", new { area = "Shopkeeper",  Id = item.Id })">@item.Product.Name </a></td>
            <td>@item.Count</td>
        </tr>
        
            no_product++;
       }
        </table>

    <div class="clearfix"></div>

</div>

<hr />
<div style="display: flex; justify-content: space-between;">
    <div style="font-size: 1.4rem; font-weight: 600;"><img src="~/images/assets/item.png" style="height: 30px; vertical-align: middle;" />Popular Keywords</div>
    <a style="font-size: 1rem; font-weight: 600;" href="@Url.Action("ShowAllKeywords", "Shop", new { area = "Shopkeeper"})">
        <div>
            <img class="cat" src="~/images/assets/right-arrow.png" />
        </div>
        <div>Message</div>
    </a>
</div>

<div class="clearfix"></div>
<div class="row mt-2">
    
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Keyword</th>
                <th>Search Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var keyword in keywords)
            {
                <tr>
                    <td>@no_key</td>
                    <td>@keyword.Keyword</td>
                    <td>@keyword.Count</td>
                </tr>
                no_key++;
            }
        </tbody>
    </table>
    
    </div>

<partial name="_Footer" />






