@using Shopiround.Models.Statistics;
@model ShopkeeperHomeVM
@{
    int i = 0;
    int no_key = 1;
    int no_product = 1;
    List<KeywordsCount> keywords = ViewData["KeywordCount"] as List<KeywordsCount>;
    List<ProductCount> popularProducts = ViewData["ProductCount"] as List<ProductCount>;
}
<style>
    .catX {
        height: 70px;
    }
</style>
<div class="row ms-4 me-4">
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="Create">
                <div>
                    <img class="catX" src="~/images/assets/box.png" />
                </div>
                <div>Add Product</div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="ShowAllProducts">
                <div>
                    <img class="catX" src="~/images/assets/products.png" />
                </div>
                <div>Show all product</div>
            </a>
        </div>
    </div>
</div>
<div class="row ms-4 me-4">
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="AddDiscount">
                <div>
                    <img class="catX" src="~/images/assets/AddDiscount.png" />
                </div>
                <div>Add Discount</div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="User" asp-controller="Chat" asp-action="HomeShop">
                <div>
                    <img class="catX" src="~/images/assets/chat.png" />
                </div>
                <div>Message</div>
            </a>
        </div>
    </div>
</div>
<div class="row ms-4 me-4">
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Shop" asp-action="OnlineOrdersHome">
                <div>
                    <img class="catX" src="~/images/assets/onlineOrder.png" />
                </div>
                <div>Online Orders</div>
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="border border-3 rounded rounded-3 mb-2 p-2">
            <a class="d-flex flex-column justify-content-center align-items-center mx-auto text-center" asp-area="Shopkeeper" asp-controller="Product" asp-action="Index">
                <div>
                    <img class="catX" src="~/images/assets/edit.png" />
                </div>
                <div>Edit Products</div>
            </a>
        </div>
    </div>
</div>
<hr />


<style>
    .productImage {
        height: 50px;
        width: 50px;
    }

    .productName {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
    }

    .productPrice {
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
    }

    .shopInfo {
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .cat {
        height: 20px;
        border-radius: 50%;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #04AA6D;
        color: white;
    }
</style>




<div style="display: flex; justify-content: space-between;" class=" ms-2 me-4">
    <div style="font-size: 1.4rem; font-weight: 600;"><img src="~/images/assets/item.png" style="height: 30px; vertical-align: middle;" />Trending Products</div>
    <a style="font-size: 1rem; float: right; font-weight: 600;" href="@Url.Action("ShowAllPopularProduct", "Shop", new { area = "Shopkeeper"})">
        <div>
            <img class="cat" src="~/images/assets/right-arrow.png" />
        </div>
    </a>
</div>
<div class="clearfix"></div>
<div class="row mt-2 ms-2 me-4">
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Search Count</th>
            </tr>
        </thead>
        @foreach (var item in popularProducts)
        {

            <tr>
                <td>@no_product </td>
                <td> <a href="@Url.Action("Show", "Product", new { area = "Shopkeeper",  Id = item.Id })">@item.Product.Name </a></td>
                <td>@item.Count</td>
            </tr>

            no_product++;
        }
    </table>

    <div class="clearfix"></div>

</div>

<hr />
<div style="display: flex; justify-content: space-between;" class=" ms-2 me-4">
    <div style="font-size: 1.4rem; font-weight: 600;"><img src="~/images/assets/item.png" style="height: 30px; vertical-align: middle;" />Popular Keywords</div>
    <a style="font-size: 1rem; font-weight: 600;" href="@Url.Action("ShowAllKeywords", "Shop", new { area = "Shopkeeper"})">
        <div>
            <img class="cat" src="~/images/assets/right-arrow.png" />
        </div>
    </a>
</div>

<div class="clearfix"></div>
<div class="row mt-2 ms-2 me-4">

    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Keyword</th>
                <th>Search Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var keyword in keywords)
            {
                <tr>
                    <td>@no_key</td>
                    <td>@keyword.Keyword</td>
                    <td>@keyword.Count</td>
                </tr>
                no_key++;
            }
        </tbody>
    </table>

</div>

<partial name="_Footer" />