@model List<OnlineOrderVM>
<style>
    #card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    #productImage {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .text {
        margin-left: 1px;
    }
</style>
<div class="container">
    @{
        foreach (var order in Model)
        {
            <a asp-area="Shopkeeper" asp-controller="Shop" asp-action="OnlineOrder" asp-route-userId="@order.User.Id" class="row mt-1 pt-2 pb-2 border rounded" id="card">
                <div class="col-2">
                    <img class="border border-2" id="productImage" src="@order.User.ImageURL" />
                </div>
                <div class="col-6 d-flex flex-column justify-content-center">
                    <div class="row text">@order.User.Name</div>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center">
                    <div class="row">Total Orders: @order.TotalOrders</div>
                    <div class="row">Total Price: @order.TotalPrice</div>
                </div>
            </a>
        }
    }
</div>