@model UserProfileVM

<style>
    #output {
        height: 40vw;
        width: 40vw;
        border-radius: 50%;
        border: 6px solid #757575;
    }

    .uploadContainer {
        position: relative;
        height: 40vw;
        width: 40vw;
    }

    .editContainer {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: white;
        border-radius: 50%;
        height: 10vw;
        width: 10vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 9px;
    }
</style>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input asp-for="ImageURL" hidden />
        @if (Model != null)
        {
           

                <input id="imageInput" type="file" name="file" class="form-control" onchange="loadFile(event)" hidden>
                <div class="d-flex justify-content-center justify-content-center">
                    <div class="uploadContainer">
                        <div class="editContainer d-flex justify-content-center align-items-center">
                            <div id="editIcon" onclick="upload()">
                                <i class="bi bi-pencil-square fs-1"></i>
                            </div>
                        </div>
                        <div class="previewContainer">
                            <img id="output" src="@Model.ImageURL" class="" alt="...">
                        </div>
                    </div>
                </div>

            
            <hr />
            <h3>User Information</h3>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" asp-for="Name" type="text" id="nameInput" placeholder="name@example.com" value="@Model.Name">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" asp-for="Email" type="text" id="emailInput" placeholder="name@example.com" value="@Model.Email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="MobileNo" type="text" id="mobileInput" placeholder="name@example.com" value="@Model.MobileNo">
                <label for="floatingInput">Mobile Number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Address" type="text" id="addressInput" placeholder="name@example.com" value="@Model.Address">
                <label for="floatingInput">Address</label>
            </div>
            <div class="row fw-bold mt-3" id="submitButton" style="display: none;">
                <button type="submit" id="saveButton" class="btn btn-primary">Save changes</button>
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center">
                <input id="imageInput" type="file" name="file" class="form-control" onchange="loadFile(event)" hidden>
                <div class="d-flex justify-content-center justify-content-center">
                    <div class="uploadContainer">
                        <div class="editContainer d-flex justify-content-center align-items-center">
                            <div id="editIcon" onclick="upload()">
                                <i class="bi bi-pencil-square fs-1"></i>
                            </div>
                        </div>
                        <div class="previewContainer">
                            <img id="output" src="~/images/shop/default_shop.png" class="" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <h3>User Information</h3>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" asp-for="Name" type="text" id="nameInput" placeholder="name@example.com" value="">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" asp-for="Email" type="text" id="emailInput" placeholder="name@example.com" value="">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="MobileNo" type="text" id="mobileInput" placeholder="name@example.com" value="">
                <label for="floatingInput">Mobile Number</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Address" type="text" id="addressInput" placeholder="name@example.com" value="">
                <label for="floatingInput">Address</label>
            </div>
            <div class="row fw-bold mt-3" id="submitButton" style="display: none;">
                <button type="submit" id="saveButton" class="btn btn-primary">Save changes</button>
            </div>

@*             <div class="d-flex justify-content-center">
                <div class="w-50 card d-flex">
                    <img id="output" src="~/images/shop/default_shop.png" class="card-img-top h-75 w-75 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <div class="input-group mb-1 d-flex justify-content-center">
                            <input id="imageInput" type="file" name="file" class="form-control" onchange="loadFile(event)" hidden>
                            <div class="btn btn-primary rounded w-100" onclick="upload()">Select Profile Photo</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row fw-bold">
                <label class="form-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" type="text" id="nameInput" value="" placeholder="Name"/>
            </div>
            <div class="row fw-bold">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" type="email" id="emailInput" value="" />
            </div>
            <div class="row fw-bold">
                <label class="form-label" asp-for="MobileNo">Mobile Number:</label>
                <input class="form-control" asp-for="MobileNo" type="tel" id="mobileInput" value="" />
            </div>
            <div class="row fw-bold">
                <label class="form-label" asp-for="Address">Address:</label>
                <input class="form-control" asp-for="Address" type="text" id="addressInput" value="" />
            </div>
            <div class="row fw-bold mt-3" id="submitButton" style="display: none;">
                <button type="submit" id="saveButton" class="btn btn-primary">Save changes</button>
            </div> *@
        }

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="text"], input[type="email"], input[type="tel"]').on('input', function () {
            // Show the button when any input field is changed
            $('#submitButton').show();
        });

        // If there's already content in the inputs (e.g., when editing), show the button
        $('input[type="text"], input[type="email"], input[type="tel"]').each(function () {
            if ($(this).val() !== "") {
                $('#submitButton').show();
                return false; // Break the loop once any field has a value
            }
        });
    });

    var loadFile = function (event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output');
            output.src = reader.result;

            // Show the button when an image is selected
            $('#submitButton').show();
        };
        reader.readAsDataURL(event.target.files[0]);
    };

    var imageUploadButton = document.getElementById("imageInput");
    function upload() {
        imageUploadButton.click();
    }
</script>


