@model List<DiscountVM>
<div class="container">

    <input type="text" id="searchBox" placeholder="Search by product name" class="form-control mb-3">

    @{
        foreach (var discountVM in Model)
        {
            <div class="border border-3 rounded rounded-3 p-2 mb-3">
                <form method="post">
                    <input asp-for="@discountVM.ID" hidden>
                    <input asp-for="@discountVM.Name" hidden>
                    <div class="row mb-2">
                        <div class="col-4">
                            <img class="border border-3" src="@discountVM.ImageURL" style="height: 30vw; width: 30vw;" />
                        </div>
                        <div class="col-8">
                        <div class="ms-3">
                                <div><b>Product Name:</b> @discountVM.Name</div>
                                <div><b>Product Price:</b> @discountVM.Price</div>
                        </div>   
                        </div>
                    </div>
                    <div class="row mb-2">
                    <div class="fw-bold">Discount Details</div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" asp-for="@discountVM.DiscountAmount" placeholder="x">
                                <label asp-for="@discountVM.DiscountAmount">D. Amount</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" asp-for="@discountVM.DiscountParcentage" placeholder="x">
                                <label asp-for="@discountVM.DiscountParcentage">D. Percentage</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-2">
                        <div class="fw-bold">Discount Duration</div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class="form-check form-switch">
                                <input asp-for="@discountVM.TodayDiscount" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label>Only for 1 Day</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" asp-for="@discountVM.TotalDays" placeholder="x">
                                <label>D. for ... days</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end me-2">
                            <button id="submit" type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        }
    }
</div>


<script>
    document.getElementById('searchBox').addEventListener('input', function () {
        var searchValue = this.value.trim().toLowerCase();
        var discountDivs = document.querySelectorAll('.container > .border');

        discountDivs.forEach(function (discountDiv) {
            var productName = discountDiv.querySelector('.ms-3 > div:nth-child(1)').textContent.trim().toLowerCase();
            if (productName.includes(searchValue)) {
                discountDiv.style.display = 'block';
            } else {
                discountDiv.style.display = 'none';
            }
        });
    });
</script>



